################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hackerrank/Core/bin/Debug
/hackerrank/Core/obj/Debug
/hackerrank/packages
/hackerrank/Tests/bin/Debug
/hackerrank/Tests/obj/Debug
/hackerrank/.vs/hackerrank/v14
/.vs/pair-programming/v15
/.vs/slnx.sqlite
/hackerrank/.vs/hackerrank/v15/Server/sqlite3
/hackerrank/Core/obj/Release
/hackerrank/.vs/hackerrank/v15/.suo
/.vs/ProjectSettings.json
/hackerrank/.vs/hackerrank/DesignTimeBuild
/.vs
/hackerrank/CSharp/packages
/hackerrank/CSharp/Core/bin/Debug
/hackerrank/CSharp/Core/obj
/hackerrank/CSharp/Tests/bin/Debug
/hackerrank/CSharp/Tests/obj
/hackerrank/CSharp/.vs/hackerrank/v14/.suo
/hackerrank/CSharp/Core/Core.csproj.user
/hackerrank/CSharp/Tests/Tests.csproj.user
/hackerrank/Python/BirthdayCandles/.idea
/hackerrank/Python/BonAppetit/.idea
/hackerrank/CSharp/.vs/
/hackerrank/Python/.vs/
/hackerrank/Python/BonAppetit/venv/
/hackerrank/Python/MarsExploration/.idea/
/hackerrank/Python/MarsExploration/venv/