################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hackerrank/Core/bin/Debug
/hackerrank/Core/obj/Debug
/hackerrank/packages
/hackerrank/Tests/bin/Debug
/hackerrank/Tests/obj/Debug
/hackerrank/.vs/hackerrank/v14
/.vs/pair-programming/v15
/.vs/slnx.sqlite
/hackerrank/.vs/hackerrank/v15/Server/sqlite3
/hackerrank/Core/obj/Release
/hackerrank/.vs/hackerrank/v15/.suo
/.vs/ProjectSettings.json
